<!DOCTYPE html>
<html>
    <head>
        <h1>Mission to Mars</h1>
    </head>

    <body>
        <a href='/scrape'> Update </a>
        <br>
        <br>
        <br>
        <p>{{ data.news_title }}</p>
        <p>{{ data.news_teaser }}</p>
        <p>{{ data.featured_image_url }}</p>
        {{ data.mars_fact | safe }}
        <p>{{ data.hemisphere_image_urls }}</p>
        <br>
        <br>
        <br>
        {% for item in data.hemisphere_image_urls %}
            <p>{{data.img_title}}</p>
            <img src="{{item.img_url}}">
        {% endfor %}
    </body>


</html>